.card-header {
    font-weight: bold;
};
  
  /* .card-header {
    color: red;
  } */
  
  /* .card-body {
    color: red;
  } */
  
  /* .card-status {
    color: red !important;
    margin-top: 100px;
  } */
  