.material-icons {
    margin-left: -50;
}

.navbar-dark .navbar-nav .nav-item ,
.navbar-dark .navbar-nav .nav-item {
    /* height: 50px; */
    text-justify: auto;
    vertical-align: middle;
    color: red !important;
}

.nav-link:focus {
    /* this is what make the text stay highlighted when mouse moves to card below */
    color: white !important;
    /* font-style: italic; */
    font-weight: bold;
}

.nav-link:hover {
    /* font-size: 1.05em; */
    color: white !important;
    background-color: darkslategrey;
}

/* .nav-item {
    background-color: blue;
} */

/* .nav-link {
    background-color: darkblue;
} */

/* .card-header {
    color: red;
} */

/* .card-body {
    color: red;
} */

/* .card-status {
    color: red !important;
    margin-top: 100px;
} */

.btn {
    margin-bottom: 15px;
}

.erroCreateAccount {
    color: darkred;
    font-weight: bold;
}

.deposit-unlogged,
.operation-unlogged {
    color: darkred;
    font-weight: bold;
}

.alldata-currentUser,
.alldata-allUsers
{
    font-weight: bold;
    margin-top: 20px;
    text-decoration: underline; 
}

.statement-currentUser {
    font-weight: bold;
    text-decoration: underline; 
}

.statementEntries-entry-positive {
    padding: 0px 0px 0px 10px;
/*     margin-left: 10px; */
    background-color: lightgrey;
/*   list-style-type: disc; */
/*   list-style-type: circle; */
/*   list-style-type: space-counter; */
/*   try https://emojipedia.org/ */
/*   list-style-type: "\1F44D"; // thumbs up sign */
    list-style-type: "➕";
}

.statementEntries-entry-negative {
    padding: 0px 0px 0px 10px;
    background-color: lightgrey;
    list-style-type: "➖";
}

.bankStatement--title {
    font-weight: bold;
}

.card-header {
    font-weight: bold;
}
