.ReStockURL {
    text-decoration: blue;
    color: blue;
    width: 300px;
}

.cart-body {
    background-color: lightyellow;
}

.cart-removeItem {
    background-color: crimson;
    float: right;
}

Button {
    background-color: green;
    color: white;
}